html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222831;
    font-family: 'Oswald', sans-serif; /* Apply boxy font globally */
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    background-color: #222831; /* semi-transparent overlay */
    color: #EEEEEE;
    width: 98vw;
    height: 85vh;
    margin: 10px; /* centers the container and offsets from fixed header */
    margin-top: 30px;
    padding: 60px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    font-size: 18px;
    position: relative;
    overflow-y: auto;
    z-index: 1;
}

.container iframe {
    margin-top: 20px;
    width: 30vw;
    height: 30vh;
}

header {
    background-color: #222831;
    margin: 0;
	padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    width: 100vw;
    z-index: 9999;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

header .nav-links li{
    font-size: 20px;
}

/* Styling for the links in the header */
header a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

/* Underline effect for the links only */
header a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Adjust thickness of the underline */
    background-color: #EEEEEE; /* Underline color */
    transition: width 0.5s ease, left 0.5s ease;
}

/* Hover effect to expand the underline for the link */
header a:hover::after {
    width: 100%; /* Expands the underline */
    left: 0; /* Moves the underline from the center to the left */
}

.fade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    height: 100vh;
    width: 120%;
    background: linear-gradient(-45deg, #b7bdc7, #708099, #31363F, #242a33);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    overflow-y: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#home {
    color: #EEEEEE;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100vw; /* Make sure the container takes up the full width of the viewport */
    height: 100vh; /* Make sure the container takes the full height of the viewport */
}

#home h1 {
    font-size: 100px;
}

#home p {
    font-size: 25px;
}

@media (max-width: 1400px) {
    #home {
        padding: 20px; /* Add some padding for smaller screens */
    }

    #home h1 {
        font-size: 50px; /* Reduce font size for smaller screens */
    }

    #home p {
        font-size: 18px; /* Reduce font size for smaller screens */
    }

    #full-description {
        width: 100%; /* Allow it to take full width */
        max-width: none; /* Remove any max-width constraint */
    }
}

@media (max-width: 1000px) {
    #home {
        padding: 20px; /* Add some padding for smaller screens */
    }

    #home h1 {
        font-size: 35px; /* Reduce font size for smaller screens */
    }

    #home p {
        font-size: 2px; /* Reduce font size for smaller screens */
    }

    #full-description {
        width: 100%; /* Allow it to take full width */
        max-width: none; /* Remove any max-width constraint */
    }
}

@media (max-height: 900px) {
    #home {
        padding: 20px;
    }

    #home h1 {
        font-size: 50px;
    }

    #home p {
        font-size: 18px;
    }

    #full-description {
        width: 100%;
        max-width: none;
    }
}

@media (max-height: 700px) {
    #home {
        padding: 15px;
        flex-direction: column; /* Optional if content is too squished horizontally */
    }

    #home h1 {
        font-size: 35px;
    }

    #home p {
        font-size: 14px;
    }

    #full-description {
        width: 100%;
        max-width: none;
    }
}

@media (max-height: 500px) {
    #home h1 {
        font-size: 28px;
    }

    #home p {
        font-size: 12px;
    }

    #full-description {
        padding-top: 20px;
    }
}

#name {
    flex: 1;
}

#full-description {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto; /* Allow it to grow based on content, avoid forcing a fixed width */
    max-width: 100%;
}

/* Styling the about content */
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position: relative;
    width: 50%;
    margin-bottom: 15px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position: relative;
    width: 50%;
    margin-top: 15px;
}

#projects {
    color: #EEEEEE;
    font-family: 'Oswald', sans-serif;
}

#projects h2 {
    display: flex;
    padding-top: 20px;
    font-size: 64px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#all-projects {
    display: flex;
    flex-wrap: wrap; /* Ensures content wraps to the next line */
    gap: 20px; /* Adds spacing between items */
    justify-content: space-evenly; /* Distributes items evenly */
}

.project {
    flex: 1 1 calc(25% - 40px); /* Adjusts the width to be 25% minus the gap */
    
    box-sizing: border-box; /* Includes padding and border in width/height */
    background-color: #222831; /* Example background for visibility */
    width: 20vw;
    height: 30vh;
    padding: 15px;
    margin: 20px;
    font-size: 40px;
    text-align: center;
    display: flex; /* Use Flexbox for alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column;
    border-radius: 8px; /* Optional: rounded corners */
    outline: 2px solid #EEEEEE;
    transition: outline-color 0.3s ease, background-color 0.3s ease, scale 1s ease;
}

@media (max-width: 1400px) {
    .project {
        font-size: 35px;
    }
}

@media (max-width: 1000px) {
    .project {
        font-size: 20px;
    }
}

@media (max-height: 900px) {
    .project {
        font-size: 35px;
    }
}

@media (max-height: 600px) {
    .project {
        font-size: 20px;
    }
}

.project:hover {
    background-color: #EEEEEE;
    color: #222831; 
    transform: scale(1.03);
    
}

#contact {
    background-color: #222831;
	padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    width: 100vw;
    z-index: 9999;
}

#contact nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact .contact-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

#contact .contact-links li{
    font-size: 20px;
}

/* Styling for the links in the header */
#contact a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

/* Underline effect for the links only */
#contact a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Adjust thickness of the underline */
    background-color: #EEEEEE; /* Underline color */
    transition: width 0.5s ease, left 0.5s ease;
}

/* Hover effect to expand the underline for the link */
#contact a:hover::after {
    width: 100%; /* Expands the underline */
    left: 0; /* Moves the underline from the center to the left */
}