html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #222831;
    font-family: 'Oswald', sans-serif; /* Apply boxy font globally */
    height: 100vh;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    background-color: #222831; /* semi-transparent overlay */
    color: #EEEEEE;
    width: 98vw;
    height: 85vh;
    margin: 10px; /* centers the container and offsets from fixed header */
    margin-top: 30px;
    padding: 60px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    font-size: 18px;
    position: relative;
    overflow-y: auto;
    z-index: 1;
}

.container iframe {
    margin-top: 20px;
    width: 30vw;
    height: 30vh;
}

header {
    background-color: #222831;
    margin: 0;
	padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    width: 100vw;
    z-index: 9999;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

header .nav-links li{
    font-size: 20px;
}

/* Styling for the links in the header */
header a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

/* Underline effect for the links only */
header a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Adjust thickness of the underline */
    background-color: #EEEEEE; /* Underline color */
    transition: width 0.5s ease, left 0.5s ease;
}

/* Hover effect to expand the underline for the link */
header a:hover::after {
    width: 100%; /* Expands the underline */
    left: 0; /* Moves the underline from the center to the left */
}

.fade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #b7bdc7, #708099, #31363F, #242a33);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#home {
    scroll-margin-top: 500px;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    position: relative;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#home h1 {
    font-size: 100px;
    margin-bottom: 3px;
}

#home p {
    font-size: 25px
}

#full-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0%;
}

#about, #skills {
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    position: relative;
    margin-top: 5%;
    margin-bottom: 15%;
    transform: translateX(200%);
    transition: opacity 1s ease-in-out, transform 0.9s ease-in-out;
}

/* Styling the about content */
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position: absolute;
    width: 30%;
    padding-bottom: 20px;
    transition: opacity 1s ease-in-out;
    font-size: 30px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position: absolute;
    width: 30%;
    transition: opacity 1s ease-in-out;
    font-size: 30px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#projects {
    color: #EEEEEE;
    font-family: 'Oswald', sans-serif;
}

#projects h2 {
    display: flex;
    padding-top: 20px;
    font-size: 64px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#all-projects {
    display: flex;
    flex-wrap: wrap; /* Ensures content wraps to the next line */
    gap: 20px; /* Adds spacing between items */
    justify-content: space-evenly; /* Distributes items evenly */
}

.project {
    flex: 1 1 calc(25% - 40px); /* Adjusts the width to be 25% minus the gap */
    
    box-sizing: border-box; /* Includes padding and border in width/height */
    background-color: #222831; /* Example background for visibility */
    width: 20vw;
    height: 30vh;
    padding: 15px;
    margin: 20px;
    font-size: 50px;
    text-align: center;
    display: flex; /* Use Flexbox for alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column;
    border-radius: 8px; /* Optional: rounded corners */
    outline: 2px solid #EEEEEE;
    transition: outline-color 0.3s ease, background-color 0.3s ease, scale 1s ease;
}

.project:hover {
    background-color: #EEEEEE;
    color: #222831; 
    transform: scale(1.03);
    
}

.project.expanded {
    transform-origin: top left;
    transform: scale(2.25);
    z-index: 1000;
    font-size: 40px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 0.5s ease-in-out;
    color: #222831;
    background-color: #EEEEEE;
}

.project .more-info {
    display: none; /* Initially hidden */
    margin-top: 10px;
    font-size: 14px;
}

.project.expanded .more-info {
    display: flex; /* Show additional text */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: transform 0.5s ease;
    transform: translateY(-50px);
}

.project h2 {
    transition: transform 0.5s ease;
}

.project.expanded .headers {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.project.expanded .headers h5 {
    margin-top: 20px;
    margin-left: auto;
}

.project.expanded .more-info p,
.project.expanded .more-info iframe,
.project.expanded .more-info img {
    margin-top: 10px;
    max-height: 125px;
}

.project.expanded .more-info p {
    overflow-y: auto;
    width: 15vw;
    margin-right: 10px;
}

.project.expanded #description {
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-height: 200px;
}

.project.expanded .more-info p::-webkit-scrollbar {
    width: 5px;
}

.project.expanded .more-info p::-webkit-scrollbar-thumb {
    background-color: #888;  /* Set the color of the scrollbar thumb */
    border-radius: 10px;  /* Optional: rounded corners for the thumb */
}

.project.expanded .more-info iframe,
.project.expanded .more-info img {
    width: 200px; 
    height: 150px; 
    margin-left: auto; 
}

.project .more-info button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #222831;
    color: #EEEEEE;
    outline: 2px solid #EEEEEE;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 4px; /* Optional: rounded corners */
    margin-bottom: 5px;
}

.project .more-info button:hover {
    background-color: #EEEEEE; /* Darker on hover */
    color: #222831; /* Light text */
    outline: 2px solid #222831;
    transform: scale(1.05);
}

.project.expanded .headers .smallHeader {
    font-size: 35px;
}

.project.expanded .headers .extraSmallHeader {
    font-size: 30px;
}

.project.expanded .headers .smallGenre {
    font-size: 25px;
    margin-top: 15px;
}

#contact {
    background-color: #222831;
	padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    width: 100vw;
    z-index: 9999;
}

#contact nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact .contact-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

#contact .contact-links li{
    font-size: 20px;
}

/* Styling for the links in the header */
#contact a {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

/* Underline effect for the links only */
#contact a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Adjust thickness of the underline */
    background-color: #EEEEEE; /* Underline color */
    transition: width 0.5s ease, left 0.5s ease;
}

/* Hover effect to expand the underline for the link */
#contact a:hover::after {
    width: 100%; /* Expands the underline */
    left: 0; /* Moves the underline from the center to the left */
}